* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.headerTitle {
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 6px;
  color: aliceblue;
  padding-left: 70px;
  padding-right: 100px;
  padding-top: 9px;
}

nav ul li ul li a {
  border-style: none;
}

.list {
  display: block;
}

nav ul li a {
  height: 80px;
  color: aliceblue;
  margin-left: 0px;
}

nav ul li {
  display: flex;
}

nav ul {
  display: flex;
}

nav {
  display: flex;
  background-color: #7a5e8de7;
  width: 100%;
  padding: 1rem;
}

a {
  display: flex;
  text-decoration: none;
  border-right-style: dotted;
  border-color: black;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
  font-size: 20px;
}

body {
  background-color: rgba(247, 215, 152, 0.979);
}

main {
  display: flex;
}

section.left,
section.right {
  padding: 2rem;
}

section.left {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border-right-style: none;
  padding-left: 30px;
}

section.left div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
}

section.right {
  line-height: 100px;
  padding-right: 30px;
  align-items: center;
}



