* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.headerTitle {
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 6px;
  color: aliceblue;
  padding-left: 70px;
  padding-right: 100px;
  padding-top: 9px;
}

nav ul li ul li a {
  border-style: none;
}

.list {
  display: block;
}

nav ul li a {
  height: 80px;
  color: aliceblue;
  margin-left: 0px;
}

nav ul li {
  display: flex;
}

nav ul {
  display: flex;
}

nav {
  display: flex;
  background-color: #7a5e8de7;
  width: 100%;
  padding: 1rem;
}

h1 {
  display: flex;
  padding-top: 15px;
  font-size: 30px;
  padding-left: 80px;
  padding-right: 200px;
}

body {
  background-color: rgba(247, 215, 152, 0.979);
}

main {
  display: flex;
}

section.left {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  justify-content: space-evenly;
  padding-left: 150px;
}

.title {
  font-size: 40px;
}

.place {
  width: 100px;
  height: fit-content;
  border-bottom-style: solid;
  border-color: rgb(202, 149, 95);
}

a {
  display: flex;
  text-decoration: none;
  border-right-style: dotted;
  border-color: black;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
  font-size: 20px;
}

section.left a {
  display: flex;
  flex-direction: column;
  border-right-style: none;
  padding: 15px;
}

section.right {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  background-color: rgba(255, 255, 255, 0.637);
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
}

section.right p{
  font-size: medium;

}